<body>

    <div class="row">
        <section id="home">
            <img src="https://avatars.githubusercontent.com/u/100102937?v=4" alt="Foto Luisa">
            <h2>Luisa Fernanda Porras Gómez</h2>
            <br>
            <h6>Hola Mundo, soy Ingeniera de Sistemas en Formación cursando Séptimo Semestre</h6>
            <h6>Adicionalmente, soy Tecnólogo Biomédico con más de 3 años de experiencia.</h6>
            <br>
            <button class="btn btn-secondary btn-outline-info">Descargar CV</button>
            <hr>
            <div class="container">
                <div style="background-color: rgb(22, 49, 49)"
                    class=" container rounded-pill col-sm-12 col-md-6 col-lg-6 col-xl-6 skills">
                    &lt; / &gt; Skills &lt; / &gt;

                </div>

                <div class=" col-sm-12 col-md-6 col-lg-6 col-xl-6 my-2 px-4 container ">
                    <p class="bi bi-rocket-takeoff-fill text-start"> JavaScript</p>
                    <p class="bi bi-rocket-takeoff-fill text-start"> HTML</p>
                    <p class="bi bi-rocket-takeoff-fill text-start"> CSS + Bootstrap</p>
                    <p class="bi bi-rocket-takeoff-fill text-start"> Angular</p>
                    <p class="bi bi-rocket-takeoff-fill text-start"> Python</p>
                    <p class="bi bi-rocket-takeoff-fill text-start"> SQL + mySQL, SQLite</p>
                </div>
            </div>

        </section>

    </div>

</body>