<body>

    <div>
        <div>
            <h1 class="text-center my-3">Información de Contacto</h1>
        </div>
        <div class="card text-bg-light mb-3 container my-5" style="max-width: 50rem;">
            <div class="card-body fs-4">
                <i class="bi bi-telephone-inbound-fill"><label class="mx-4">(+57)3196896295</label></i>
                <br>
                <br>
                <i class="bi bi-envelope-arrow-up-fill"><a class="mx-4"
                        href="mailto:luisa.porras@uniminuto.edu.co?subject=Contacto&body=prueba email" target="_blank"
                        style="color: black;text-decoration: none">
                        luisaforrasg@gmail.com /
                        luisa.porras@uniminuto.edu.co</a>
                </i>
                <br>
                <br>
                <i class="bi bi-linkedin"><a class="mx-4" href="https://www.linkedin.com/in/luisaporrasg/"
                        style="text-decoration: none; color:black" target="_blank">luisaporrasg</a></i>
                <br>
                <br>
                <i class="bi bi-github"><a class="mx-4" href="https://github.com/LuisaPorrasG"
                        style="text-decoration: none; color:black" target="_blank">luisaporrasg</a></i>
                <br>
                <br>
            </div>
        </div>
    </div>
</body>