<body>
    <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 my-4 mx-5 text-start">
            <div>
                <h1>Educación</h1>
            </div>
            <div class="col-sm-12 col-md-11 col-lg-11 col-xl-11 text-start mx-3 my-3 contenedor">
                <br>
                <i class="bi bi-mortarboard-fill fs-3 i mx-2" style="color: rgb(44, 184, 230);"> </i>
                <i class="fs-4 mx-3 btn btn-outline-info" onmouseover="mostrarMensaje()">Corporación Universitaria
                    Minuto de Dios</i>
                <br>
                <li class=" mx-5 py-3">ingenieria de Sistemas - 7 Semestre</li>

            </div>
            <div class="col-sm-12 col-md-11 col-lg-11 col-xl-11 text-start mx-3 my-3 contenedor">
                <br>
                <i class="bi bi-mortarboard-fill fs-3 i mx-2" style="color: rgb(44, 184, 230);"> </i>
                <i class="mx-3 fs-4 btn btn-outline-info" onmouseover="mostrarMensaje()">SENA</i>
                <br>
                <li class="mx-5 py-3">Tecnológo Biomédico (2019)</li>

            </div>
        </div>

        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 my-4 mx-5   text-start">
            <div>
                <h1>Cursos y Talleres </h1>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 text-start mx-3 my-3 contenedor">
                <br>
                <i class="bi bi-mortarboard-fill fs-3 i px-2" style="color: rgb(44, 184, 230);"> </i>
                <i class="fs-4 mx-3 btn btn-outline-info" onmouseover="mostrarMensaje()">UDEMY</i>
                <br>
                <li class="text-star mx-5">Curso Universidad JavaScript desde 0 (2023)</li>
                <li class="text-star mx-5 py-2">Curso Terminal y Git (en curso)</li>

            </div>
            <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 text-start mx-3 my-3 contenedor">
                <br>
                <i class="bi bi-mortarboard-fill fs-3 i px-2" style="color: rgb(44, 184, 230);"> </i>
                <i class="fs-4 mx-3 btn btn-outline-info" onmouseover="mostrarMensaje()">Universidad de Antioquia</i>
                <br>
                <li class="text-star mx-5 py-2">Habilidades de programación, 600 horas
                    (2021). Enfocado en los principios básicos de
                    Java, Python, HTML, GIT y SQL.</li>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 text-start mx-3 my-3 contenedor">
                <br>
                <i class="bi bi-mortarboard-fill fs-3 i px-2" style="color: rgb(44, 184, 230);"> </i>
                <i class="fs-4 mx-3 btn btn-outline-info">Universidad del Rosario</i>
                <br>
                <li class="text-star mx-5 py-2">Diplomado en Fortalecimiento de iniciativas
                    ciudadanas, 120 horas. (2017)
                </li>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class=" col-sm-6 col-md-2 col-lg-2 col-xl-2">
            <img [src]="imagenUrl" alt="Descripción de la imagen " class="img-fluid mx-3">
        </div>
        <div class=" col-sm-6 col-md-2 col-lg-2 col-xl-2">
            <img [src]="imagenUrl3" alt="Descripción de la imagen " class="img-fluid mx-3">
        </div>
        <div class=" col-sm-6 col-md-2 col-lg-2 col-xl-2">
            <img [src]="imagenUrl2" alt="Descripción de la imagen " class="img-fluid mx-3">
        </div>
    </div>
</body>