<div>
  <!--Barra de Navegación-->


  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <img src="https://avatars.githubusercontent.com/u/100102937?v=4" alt="Foto Luisa" width="33" height="24"
        class="d-inline-block align-text-top mx-2 my-1 img-fluid" style="border-radius: 30%;"><label
        style="color: rgb(49, 146, 194);" class="fs-5">Web. Luisa Porras</label>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse py-2" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto  bg-body-tertiarybg-body-tertiary">
          <a class="nav-link" class="navbar-brand mb-0 h1" routerLink="/perfil">Perfil</a>
          <a class="nav-link" class="navbar-brand mb-0 h1" routerLink="/estudios">Estudios</a>
          <a class="nav-link" class="navbar-brand mb-0 h1" routerLink="/experiencia">Experiencia</a>
          <a class="nav-link" class="navbar-brand mb-0 h1" routerLink="/portafolio">Portafolio</a>
          <a class="nav-link" class="navbar-brand mb-0 h1" routerLink="/contacto">Contacto</a>
        </div>
      </div>
    </div>
  </nav>


</div>


<router-outlet></router-outlet>